* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #000;
}

img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2.5rem 1rem 0;
}

.header__logo {
  width: 23rem;
  height: 5.1rem;
}

.user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-header__img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background: url(../img/svg/user-icon.svg);
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1.1rem;
}

.user-header__name {
  font-size: 1.3rem;
  color: #3E3E3E;
  margin-right: 1rem;
}

.user-header__button {
  padding: 0;
  background: #fff;
}

.user-header__button img {
  width: 1.5rem;
  height: 1.5rem;
}

.crumbs {
  background: #F3F2ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crumbs__wrap {
  padding: 1.8rem 2.5rem 1.8rem 2.5rem;
}

.crumbs__title {
  position: relative;
  color: #058DC7;
  font-size: 1.3rem;
  padding-right: 1.6rem;
}

.crumbs__title:before {
  content: "";
  position: absolute;
  top: 50%;
  right: .6rem;
  width: 0.8rem;
  height: 0.8rem;
  border-right: 0.2rem solid #707478;
  border-top: 0.2rem solid #707478;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.crumbs__employee {
  font-size: 1.3rem;
  color: #707478;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aside {
  border-right: 0.1rem solid #E4E4E4;
}

.aside__wrap {
  width: 37rem;
  height: 100vh;
  background: #fff;
}

.aside__search {
  height: 2.3rem;
  background: #F9F8F6;
  padding-left: 2.5rem;
}

.aside__input {
  width: 100%;
  padding: .4rem 0 .4rem 2rem;
  background: #F9F8F6 url(../img/svg/search-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 1.3rem;
  color: #707478;
}

.aside-crew__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2.1rem 2.7rem 2rem 2rem;
  background: #F3F2ED;
  opacity: 70%;
}

.aside-crew__wrap--active {
  opacity: 100%;
  background: #fff;
}

.aside-crew__avatar {
  width: 5.7rem;
  height: 5.7rem;
  margin-right: 1.2rem;
  margin-top: -1rem;
}

.aside-crew__avatar-img {
  border-radius: 50%;
}

.aside-crew__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 4.5rem;
}

.aside-crew__name {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  color: #058DC7;
  line-height: 120%;
  cursor: pointer;
}

.aside-crew__name--eyes {
  position: relative;
  padding-right: 1.7rem;
}

.aside-crew__name--eyes:before {
  content: url(../img/svg/eyes-icon.svg);
  width: 1.3rem;
  height: 0.9rem;
  position: absolute;
  top: 0;
  right: 0;
}

.aside-crew__post {
  font-size: 1.2rem;
  color: #707478;
  margin-bottom: 0.5rem;
}

.aside-crew__widget {
  display: block;
  background: #2DD0C6;
  color: #fff;
  padding: .3rem .7rem;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.aside-crew__widget--fired {
  background-color: #EE144E;
}

.aside-crew__rating {
  font-size: 3rem;
  color: #A2A2A2;
}

.aside-crew__rating--active {
  color: #EE144E;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.6rem 2.1rem 4.5rem 4rem;
  border-bottom: 0.2rem solid #E4E4E4;
  margin-bottom: 3.3rem;
}

.user-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 7.7rem;
}

.user-main__avatar {
  position: relative;
  width: 5.8rem;
  height: 5.8rem;
  margin-right: 1.5rem;
}

.user-main__avatar::before {
  content: url(../img/svg/smile-icon.svg);
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  bottom: 0;
  right: 0;
}

.user-main__avatar-img {
  border-radius: 50%;
}

.user-main__name {
  position: relative;
  width: 21.3rem;
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 0.3rem;
  padding-right: 1.8rem;
}

.user-main__name::after {
  content: url(../img/svg/eyes-icon.svg);
  position: absolute;
  width: 1.5rem;
  height: 1rem;
  top: -1rem;
  right: 0;
}

.user-main__post {
  font-size: 1rem;
  color: #707478;
}

.user-activity {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-activity__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.6rem;
}

.user-activity__time {
  font-size: 1.2rem;
  color: #A2A2A2;
  margin: 0;
}

.user-activity__time--bold {
  color: #707478;
}

.user-activity__link {
  position: relative;
  padding-left: 2rem;
  font-size: 1.2rem;
  color: #058DC7;
}

.user-activity__link::before {
  content: url(../img/svg/arrow-left.svg);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activity-list__item:not(:last-child) {
  padding-right: 4rem;
}

.activity-list__item:not(:first-child) {
  padding-left: 4rem;
  border-left: 0.2rem solid #E4E4E4;
}

.activity-list__title {
  font-size: 1.2rem;
  font-weight: normal;
  color: #707478;
  margin-bottom: 0.9rem;
}

.activity-list__result {
  font-size: 2rem;
}

.activity-list__sub {
  position: relative;
  bottom: 0;
  font-size: 1rem;
  margin-left: 0.5rem;
  color: #3E3E3E;
}

.activity-list__sub--negative {
  position: relative;
}

.activity-list__sub--negative::before {
  content: "";
  position: absolute;
  top: -50%;
  border-left: .4rem solid  transparent;
  border-right: .4rem solid  transparent;
  border-top: 0.5rem solid #EE144E;
}

.activity-list__sub--red {
  color: #EE144E;
}

.activity-list__sub--positive::before {
  content: "";
  position: absolute;
  top: -50%;
  border-left: .4rem solid  transparent;
  border-right: .4rem solid  transparent;
  border-bottom: 0.5rem solid #00983E;
}

.activity-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 4.5rem;
}

.activity-menu__link:not(:last-child) {
  margin-right: 1.2rem;
}

.anomaly__wrap {
  padding: 0 3.8rem;
  margin-bottom: 7.3rem;
}

.anomaly__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 100;
}

.anomaly__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.anomaly__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 100;
  min-width: 32rem;
  min-height: 7.2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2.3rem 4.3rem 2.3rem 4rem;
  border: 0.1rem solid #EE144E;
  margin-top: 2rem;
}

.anomaly__item:not(:last-child) {
  margin-right: 2.1rem;
}

.anomaly__icon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.anomaly__text {
  margin: 0;
}

@media (max-width: 166rem) {
  .anomaly__item:not(:first-child) {
    margin-right: 0;
  }
}

@media (max-width: 131.9rem) {
  .anomaly__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .anomaly__item:not(:last-child) {
    margin-right: 0;
  }
}

.indicators__wrap {
  padding: 0 3.8rem;
}

.indicators__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 2rem;
}

.indicators__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 19.5rem;
  background: #F3F2ED;
}

.indicators__text {
  font-size: 1.5rem;
  color: #A2A2A2;
}

.statistics {
  margin-bottom: 4rem;
  padding: 0 3.8rem;
}

.statistics__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistics__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 2.6rem;
  margin-bottom: 2rem;
}

.table {
  min-width: 37rem;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 0.1rem solid #E4E4E4;
}

.table__cell-header {
  font-size: 1.4rem;
  font-weight: 400;
  color: #A2A2A2;
  padding-bottom: 0.5rem;
  text-align: left;
}

.table__cell-header--center {
  text-align: center;
}

.table__cell-header--right {
  text-align: right;
}

.table__cell-header--width {
  min-width: 3rem;
}

.table__cell-sub {
  font-size: 1rem;
  color: #00983E;
}

.table__cell-sub--red {
  color: #EE144E;
}

.table__cell-body {
  position: relative;
  font-size: 1.2rem;
  font-weight: 100;
  padding: .5rem 0 .5rem 1.8rem;
  text-align: left;
}

.table__cell-body--width {
  width: 5.5rem;
}

.table__cell-body--left-indent:first-child {
  padding-left: 0;
}

.table__cell-body--right {
  text-align: right;
}

.table__cell-body--center {
  text-align: center;
}

.table__cell-body--time-color {
  color: #2DD0C6;
}

.table__cell-square {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}

.table__cell-square--yellow {
  background: #F8D77F;
}

.table__cell-square--red {
  background: #EE144E;
}

.table__cell-square--green {
  background: #A6C8B3;
}
/*# sourceMappingURL=style.css.map */