.activity-menu
    display: flex
    align-items: center
    justify-content: flex-end
    flex-wrap: wrap
    min-height: 4.5rem
    &__link
        &:not(:last-child)
            margin-right: 1.2rem